.about-page {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  margin-top: 100px;
  background-color: black; /* Adjusted background color */
  padding-bottom: 50px; /* Added padding to create gap below "About Us" */
  margin-bottom: 90px;
}

.image-section {
  height: 70vh; /* Adjust the height as needed */
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Add border radius if needed */
}

.about-us-container {
  display: flex;
  justify-content: space-between; /* Arrange items with space between them */
  align-items: center;
  padding: 50px 20px;
  background-color: black;
  color: white;
}

.about-us-heading {
  width: 40%; /* Adjust width for heading */
  margin-top: -41px;
}

.about-us-text {
  width: 55%; /* Adjust width for text */
}

.about-us-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-us-text p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  margin-top: -40px;
}

.slogan-section {
  text-align: center;
  margin: 20px 0; /* Add margin to create space above and below */
  color: white;
}

.slogan-section h4 {
  font-size: 1.5rem; /* Adjust font size as needed */
  margin: 0;
  opacity: 0; /* Initially invisible */
  transform: scale(0.5) rotate(-15deg); /* Initial scale and rotation */
}

.slogan-section h4.animate {
  animation: uniqueEntrance 2s forwards; /* Apply animation */
}

@keyframes uniqueEntrance {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-15deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2) rotate(10deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.team-image-section {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 50px 40px; /* Add margin to the team image section for more space from left and right */
}

.team-image-section img {
  max-width: calc(100% - 200px); /* Adjusted width to account for increased left and right margins */
  max-height: 100vh; /* Limit image height to its container */
  object-fit: cover; /* Image will cover the entire container */
}

.team-heading-section {
  text-align: center;
}

.team-heading-section h3 {
  color: white;
  font-size: 2rem; /* Adjust font size as needed */
  margin-bottom: 30px;
}

.team-paragraph-section {
  text-align: center;
  padding: 0 20px; /* Add padding to the paragraph section */
  max-width: 80%; /* Set maximum width for the paragraph section */
  margin: 0 auto; /* Center the paragraph section horizontally */
}

.team-paragraph-section p {
  color: white;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  word-wrap: break-word; /* Allow long words to break and wrap */
}

.join-us-section {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 60px;
}

.join-us-section h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.see-more-button {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 5px 40px; /* Increased padding to make the button larger */
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px; /* Slightly curved border */
  margin-bottom: 100px;
}

.see-more-button:hover {
  background-color: white;
  color: black;
}
