.ourproduct {
  margin: 10px;
  font-size: xx-large;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 1100px;
  margin: auto;
  padding: 0 60px;
}

.carousel img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;  /* Ensure the entire image is visible */
  border-radius: 8px 8px 0 0;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 20%;
  transition: background-color 0.3s, transform 0.3s;
}

.carousel button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.carousel button.prev {
  left: 10px;
}

.carousel button.next {
  right: 10px;
}

.cards-container {
  display: flex;
  gap: 20px;
  padding: 40px;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card {
  flex: 1;
  height: 420px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: calc(33.33% - 10px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 40px rgba(0, 0, 0, 0.2);
}

.card__image-container {
  width: 100%;
  height: 65%;  /* Set a fixed height for the image container */
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* Ensure the entire image is visible */
}

.card__content {
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.card__title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #333;
}

.card__description {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}
