.ourproduct{
  margin: 10px;
  font-size:xx-large;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 600px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

.carousel img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 300px; /* Adjust the max-height as needed */
  object-fit: cover;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.carousel button.prev {
  left: 10px;
}

.carousel button.next {
  right: 10px;
}

/* card.css */

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__content {
  padding: 20px;
}

.card__title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.card__description {
  font-size: 1rem;
  color: #666;
}
