footer {
    background-color:rgba(0,0,0,0.85);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
    margin-bottom: 20px;
}


.footer-section h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-section p {
    color: #fffefe;
    margin-right: 20px;
}

.footer-section ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column; /* Display links vertically */
    margin-left: 12rem; /* Center the content */
}

.footer-section ul li {
    margin-bottom: 8px;
    margin-right: 195px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ffffff; /* Set the text color to white */
    transition: color 0.3s ease;
    position: relative; /* Ensure the line is positioned relative to the link */
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}


.footer-section.follow {
    flex: 1;
    padding: 0 20px;
    margin-bottom: 20px;
}

.footer-section.follow h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px; /* Increase the gap between each social link */
    color: #ffffff;
    text-decoration: none;
}


.footer-section.social .social-icons img {
    width: 23px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

