.gallery {
  position: static;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  height: 80vh; /* Adjust height as needed */
  margin-bottom: 90px;
}

.gallery img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.gallery img.active {
  opacity: 1;
}

.pagination {
  position: absolute;
  bottom: 170px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #717171;
}
