
.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px; /* Adjust width as needed */
  height: 145px; /* Adjust height as needed */
  background-color: #fffdfd;
  border-bottom-right-radius: 75px; /* Creates the semicircle effect */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 1001; /* Above the navbar */
}

.logo {
  height: 250px; /* Adjust the logo size */
  transition: all 0.3s ease;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdfd;
  padding: 10px 40px;
  height: 80px;
  font-size: 17px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

ul {
  list-style-type: none;
  margin-right: -160px;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
}

a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}

a:hover::after {
  width: 100%;
}

a.logo-link:hover::after {
  width: 0;
}

.active {
  font-weight: bold;
}

/* Login button styling */
.login-container {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.login-button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  outline: none;
  position: relative;
  overflow: hidden;
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.login-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 300%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  border-radius: 50%;
  z-index: 0;
  transform: translateX(-50%) scale(0);
}

.login-button:hover::before {
  transform: translateX(-50%) scale(2);
}

.login-button:hover {
  background-color: #c7bdbd2c;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.login-button span {
  position: relative;
  z-index: 1;
}

/* User info styling */
.navbar .user-info {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar .user-info .username {
  margin-right: 10px;
}

/* Dropdown menu styling */
.navbar .user-info .dropdown {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  color: black;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .user-info .dropdown button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar .user-info .dropdown button:hover {
  background-color: #ddd;
}

.navbar .user-info .dropdown-button {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
}
}