.order {
    margin-top: 100px;
    padding: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .order h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .order p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  
  .order strong {
    color: #000;
  }
  